.container{
    display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 3rem;

}
.heroe-imagen-grande {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 1rem auto;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.img-villano{
  width: 90px;
}
.villanos{
  text-align: center;
  text-shadow: 2px 2px 2px gray;
}